@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.movieDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: center;
}


.flip-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  background-color: transparent;
  width: 300px;
  height: 450px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
/* Style the front side */

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* This ensures the image fills the container while maintaining aspect ratio */
  display: block;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(0, 0, 0);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.flip-card-back p {
  margin: 8px 0;
  width: 100%;
}